.dialog-container {
  padding: 20px;
  max-width: 1900px;
  max-height: 1000px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: black;

    input,
    mat-checkbox {
      margin-top: 5px;
    }
  }

  th,
  td {
    color: black;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }


  h2 {
    margin-bottom: 5px;
  }

  .parameters-container {
    display: flex;
    justify-content: space-between;
  }

  .parameters-container2 {
    display: flex;
    flex-direction: row;
    margin: auto;

    label {
      padding: 10px;
      width: 70px;
    }
  }

  .scrollable-list {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 2px;
  }

  .parameter {
    display: grid;
    grid-template-columns: repeat(5, 1fr) auto;
    gap: 10px;
    align-items: center;
    max-height: 600px;

    label {
      font-weight: normal;
    }

    button {
      grid-column: 6;
      background-color: #f44336;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }

  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #303f9f;
    }
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #303f9f;
    }
  }
}