<div class="scrollable-container">
  <form [formGroup]="tableForm">
    <table mat-table [dataSource]="rows.controls" class="mat-elevation-z8 custom-mat-table" formArrayName="rows"
      (click)="cancelEdit(-1)">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i"> {{element.get('name').value}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
          <input #input *ngIf="editingIndex === i" matInput formControlName="value" (blur)="cancelEdit(i)"
            (keydown)="handleKeydown($event, i)" appAutofocus>
          <div *ngIf="editingIndex !== i" (dblclick)="startEdit(i, element.get('value').value) ">
            {{element.get('value').value}}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'value']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'value'];"></tr>
    </table>
  </form>
</div>