@import '../../../mixins';

@mixin padding-left() {
  padding-left: 20px;
}

.div {
  @include horizontal();
  @include padding-left();
  @include default-color();
}

i {
  @include default-icon-props();
}

img {
  margin: 8px;
  width: 32px;
  height: 32px;
}

.mat-tree-invisible {
  display: none;
}

.mat-tree,
.mat-tree button {
  @include default-color();
}

.mat-tree .mat-nested-tree-node div[role=group] {
  @include padding-left();
  @include default-color();
}

mat-tree-node,
.mat-tree div[role=group]>.mat-tree-node {
  @include show-hover();
  @include padding-left();
  @include default-color();
  @include set-common-height();
}