.mat-tree-invisible {
  display: none;
}

.mat-tree {
  background-color: #333;
  color: white;
}

.mat-tree span {
  padding-left: 20px;
  background-color: #333;
  color: white;
}

.mat-tree button,
i {
  background-color: #333;
  color: white;
}

.mat-tree ul,
.mat-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  background-color: #333;
  color: white;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.mat-tree .mat-nested-tree-node div[role=group] {
  padding-left: 20px;
  background-color: #333;
  color: white;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.mat-tree div[role=group]>.mat-tree-node {
  padding-left: 20px;
  background-color: #333;
  color: white;
}