.grid-toggle-button {
  position: absolute;
  top: 200px;
  right: 1%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #007acc;
  font-size: 24px;
}

#viewNavigator {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 200px;
  height: 200px;
}

.grid-toggle-button i {
  size: 60px;

}