<a class="tool">
  <a class="tool-item" title="Cursor" (click)="cursor()" [ngClass]="{'active': activeTool === 'cursor'}"><i
      class="fa-solid fa-arrow-pointer"></i></a>
  <a class="tool-item" title="Move" (click)="move()" [ngClass]="{'active': activeTool === 'move'}"><i
      class="fa-solid fa-arrows-up-down-left-right"></i></a>
  <a class="tool-item" title="Rotate" (click)="rotate()" [ngClass]="{'active': activeTool === 'rotate'}"><i
      class="fa-solid fa-rotate"></i></a>
  <a class="tool-item" title="Scale" (click)="scale()" [ngClass]="{'active': activeTool === 'scale'}"><i
      class="fa-solid fa-arrows-to-dot"></i></a>
</a>